@using Qlud.KTTTNCN.Authorization
@using Qlud.KTTTNCN.Web.Areas.App.Models.ChungTuKTTs
@using Qlud.KTTTNCN.Web.Areas.App.Startup
@model ChungTuKTTsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Host.ChungTuKTTs;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/ChungTuKTTs/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("ChungTuKTTs")' description='@L("ChungTuKTTsHeaderInfo")'>
        <button id="ApproveBatchChungTuKTTButton" class="btn btn-info btn-active-light-success me-1"><i class="fa fa-check"></i> @L("ApproveBatch")</button>
        <button id="PendingBatchChungTuKTTButton" class="btn btn-warning btn-active-light-success me-1"><i class="fa fa-navicon"></i> @L("PendingBatch")</button>
        @if (IsGranted(AppPermissions.Pages_ChungTuKTTs_Create))
        {
        <button id="CreateNewChungTuKTTButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewChungTuKTT")</button>
        }

        <button id="ImportExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ImportExcel")</button>
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="ChungTuKTTsTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetChungTuKTTsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">

                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="HoTenFilterId">@L("HoTen")</label>
                            <input type="text" class="form-control" name="hoTenFilter" id="HoTenFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MaSoThueFilterId">@L("MaSoThue")</label>
                            <input type="text" class="form-control" name="maSoThueFilter" id="MaSoThueFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="DiaChiFilterId">@L("DiaChi")</label>
                            <input type="text" class="form-control" name="diaChiFilter" id="DiaChiFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="QuocTichFilterId">@L("QuocTich")</label>
                            <input type="text" class="form-control" name="quocTichFilter" id="QuocTichFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="CuTruFilterId">@L("CuTru")</label>
                            <input type="text" class="form-control" name="cuTruFilter" id="CuTruFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="CCCDFilterId">@L("CCCD")</label>
                            <input type="text" class="form-control" name="cccdFilter" id="CCCDFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="NoiCapFilterId">@L("NoiCap")</label>
                            <input type="text" class="form-control" name="noiCapFilter" id="NoiCapFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinNgayCapFilterId">@L("NgayCapRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker startDate" type="text" placeholder="@L(" MinValue")" id="MinNgayCapFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker endDate" type="text" placeholder="@L(" MaxValue")" id="MaxNgayCapFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinKhoanThuNhapFilterId">@L("MinMax") @L("KhoanThuNhap")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minKhoanThuNhapFilter" id="MinKhoanThuNhapFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxKhoanThuNhapFilter" id="MaxKhoanThuNhapFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="BaoHiemBatBuocFilterId">@L("BaoHiemBatBuoc")</label>
                            <input type="text" class="form-control" name="baoHiemBatBuocFilter" id="BaoHiemBatBuocFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="ThoiDiemTraThuNhapThangFilterId">@L("ThoiDiemTraThuNhapThang")</label>
                            <input type="text" class="form-control" name="thoiDiemTraThuNhapThangFilter" id="ThoiDiemTraThuNhapThangFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="ThoiDiemTraThuNhapNamFilterId">@L("ThoiDiemTraThuNhapNam")</label>
                            <input type="text" class="form-control" name="thoiDiemTraThuNhapNamFilter" id="ThoiDiemTraThuNhapNamFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinTongThuNhapChiuThueFilterId">@L("MinMax") @L("TongThuNhapChiuThue")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minTongThuNhapChiuThueFilter" id="MinTongThuNhapChiuThueFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxTongThuNhapChiuThueFilter" id="MaxTongThuNhapChiuThueFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinTongThuNhapTinhThueFilterId">@L("MinMax") @L("TongThuNhapTinhThue")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minTongThuNhapTinhThueFilter" id="MinTongThuNhapTinhThueFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxTongThuNhapTinhThueFilter" id="MaxTongThuNhapTinhThueFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinSoThueTNCNDaKhauTruFilterId">@L("MinMax") @L("SoThueTNCNDaKhauTru")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minSoThueTNCNDaKhauTruFilter" id="MinSoThueTNCNDaKhauTruFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxSoThueTNCNDaKhauTruFilter" id="MaxSoThueTNCNDaKhauTruFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinSoThuNhapDuocNhanFilterId">@L("MinMax") @L("SoThuNhapDuocNhan")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minSoThuNhapDuocNhanFilter" id="MinSoThuNhapDuocNhanFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxSoThuNhapDuocNhanFilter" id="MaxSoThuNhapDuocNhanFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinKhoanDongGopFilterId">@L("MinMax") @L("KhoanDongGop")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minKhoanDongGopFilter" id="MinKhoanDongGopFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxKhoanDongGopFilter" id="MaxKhoanDongGopFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="EmailFilterId">@L("Email")</label>
                            <input type="text" class="form-control" name="emailFilter" id="EmailFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinThoiGianNhapFilterId">@L("ThoiGianNhapRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker startDate" type="text" placeholder="@L(" MinValue")" id="MinThoiGianNhapFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker endDate" type="text" placeholder="@L(" MaxValue")" id="MaxThoiGianNhapFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinThoiGianDuyetFilterId">@L("ThoiGianDuyetRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker startDate" type="text" placeholder="@L(" MinValue")" id="MinThoiGianDuyetFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker endDate" type="text" placeholder="@L(" MaxValue")" id="MaxThoiGianDuyetFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="UserNhapFilterId">@L("UserNhap")</label>
                            <input type="text" class="form-control" name="userNhapFilter" id="UserNhapFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="UserDuyetFilterId">@L("UserDuyet")</label>
                            <input type="text" class="form-control" name="userDuyetFilter" id="UserDuyetFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="TrangThaiFilterId">@L("TrangThai")</label>
                            <input type="text" class="form-control" name="trangThaiFilter" id="TrangThaiFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MauSoFilterId">@L("MauSo")</label>
                            <input type="text" class="form-control" name="mauSoFilter" id="MauSoFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="KyHieuFilterId">@L("KyHieu")</label>
                            <input type="text" class="form-control" name="kyHieuFilter" id="KyHieuFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="SoChungTuFilterId">@L("SoChungTu")</label>
                            <input type="text" class="form-control" name="soChungTuFilter" id="SoChungTuFilterId">
                        </div>
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    @*<table id="ChungTuKTTsTable" class="display table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">*@
                    <table id="ChungTuKTTsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap cell-border">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th></th>
                                <th>@L("Select")</th>
                                <th>@L("Actions")</th>
                                <th>@L("HoTen")</th>
                                <th>@L("MaSoThue")</th>
                                <th>@L("DiaChi")</th>
                                <th>@L("QuocTich")</th>
                                <th>@L("CuTru")</th>
                                <th>@L("CCCD")</th>
                                <th>@L("NoiCap")</th>
                                <th>@L("NgayCap")</th>
                                <th>@L("KhoanThuNhap")</th>
                                <th>@L("BaoHiemBatBuoc")</th>
                                <th>@L("ThoiDiemTraThuNhapThang")</th>
                                <th>@L("ThoiDiemTraThuNhapNam")</th>
                                <th>@L("TongThuNhapChiuThue")</th>
                                <th>@L("TongThuNhapTinhThue")</th>
                                <th>@L("SoThueTNCNDaKhauTru")</th>
                                <th>@L("SoThuNhapDuocNhan")</th>
                                <th>@L("KhoanDongGop")</th>
                                <th>@L("Email")</th>
                                <th>@L("ThoiGianNhap")</th>
                                <th>@L("ThoiGianDuyet")</th>
                                <th>@L("UserNhap")</th>
                                <th>@L("UserDuyet")</th>
                                <th>@L("TrangThai")</th>
                                <th>@L("MauSo")</th>
                                <th>@L("KyHieu")</th>
                                <th>@L("SoChungTu")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>